In [1]:
print("hello")

hello

In [3]:
for i in range(3,11,2):
    print(i)

3
5
7
9

In [7]:
eval('5+3')

8

#### Input from user

In [9]:
num = int(input("Enter No.:"))
print(num*num)

Enter No.: 11

121

In [15]:
pi

3.141592653589793

In [26]:
num=123.456799
print (num)
print('%.4f' %(num))
print (num)

123.456799
123.4568
123.456799

In [36]:
num1 = 100
num2 = 150
print((num2>num1) and (num1>50) and ((num1+50) == num2))

True

In [9]:
num1 = 100
num2 = 22
print(num1 // num2)
print(num1 / num2)
print(num1 % num2)

4
4.545454545454546
12

In [19]:
num1 = 'hello'
type(num1)

str

In [7]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print (x)

1
2
4
5

In [87]:
mydata = [1,3,2,7,3]
type(mydata)
print("mylist:",mydata)

mydata.append(5)
print("mylist:",mydata)

mydata.pop()
mydata.pop()
print("mylist:",mydata)

mylist: [1, 3, 2, 7, 3]
mylist: [1, 3, 2, 7, 3, 5]
mylist: [1, 3, 2, 7]

In [91]:
mydata = {1,3,2,7,3}
print("myset:",mydata)

mydata.add(5)
print("myset:",mydata)

mydata.remove(2)
print("myset:",mydata)

myset: {1, 2, 3, 7}
myset: {1, 2, 3, 5, 7}
myset: {1, 3, 5, 7}

In [93]:
mydata = [1,3,2,7,3]
t = tuple(mydata)
print ("mytuple:",t)

mytuple: (1, 3, 2, 7, 3)

In [117]:
mydata = {}
mydata[7] = "two"
print("mydictionary:",mydata)

mydata[7] = "seven"
print("mydictionary:",mydata)

mydata[2] = "two"
print("mydictionary:",mydata)

mydata[4] = "two"
print("mydictionary:",mydata)

del mydata[4]
print("mydictionary:",mydata)

mydictionary: {7: 'two'}
mydictionary: {7: 'seven'}
mydictionary: {7: 'seven', 2: 'two'}
mydictionary: {7: 'seven', 2: 'two', 4: 'two'}
mydictionary: {7: 'seven', 2: 'two'}