#### Tuple

In [2]:
num = (100,200,300)
print(num)
print(type(num))
print(num[2])

# Tuple is immutable
num[2]=400
print(num[2])

(100, 200, 300)
<class 'tuple'>
300

TypeError: 'tuple' object does not support item assignment

#### Set

In [11]:
num = {100,200,300,400}
print(num)

#Repeated elements are taken only once
num.add(300)
num.add(500)
print(num)

{200, 100, 400, 300}
{100, 200, 300, 400, 500}

In [25]:
s1 = {1,2,3,4,5}
s2 = {0,2,5,7}

print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{2, 5}
{0, 1, 2, 3, 4, 5, 7}
{1, 3, 4}
{0, 7}

#### Dictionary

In [55]:
d = {2:56, 5:27, 6:379, 7:372, 'a':'apple'}
print(d[5])   #access value through its key
print(d['a'])

d[6] = 1000
print(d)

d['z'] = 'zebra'
print(d)

27
apple
{2: 56, 5: 27, 6: 1000, 7: 372, 'a': 'apple'}
{2: 56, 5: 27, 6: 1000, 7: 372, 'a': 'apple', 'z': 'zebra'}

In [57]:
x  = {}
type(x)

dict

In [65]:
l = [5,4,8,2,0,1,3]
t = (3,9,12,5,2)
s = {2,7,4,1,6}

print(set(l))
print(list(t))

{0, 1, 2, 3, 4, 5, 8}
[3, 9, 12, 5, 2]

In [67]:
print("alive")

alive